/*footer{
	position:fixed;
	width:100%;
	background-color:#DCDCDC;
	height: 50px;
	bottom: 0;
	left:0;
	right: 0;
}*/

body{
background-color:#F3EEEE;
}
hr{
color:#F3EEEE;
background-color:#F3EEEE;
}
.menupanel{
	z-index:888;
float:left;
font-size:0.9em;
position:fixed;
width:50px;
height:100%;
border-right:0.5px solid #D7D4D4;
padding-right:1px;
left:0;
/*text-align:left;*/
top:0;
}
.capton_menu{
	display:none;
	width:50px;
	height:20px;
	
}
.capton_menu span{
}
.menupanel:hover .capton_menu{
	z-index:888;
	top:10px;
	position:absolute;
	display:block;
	left:45px;
	font-size:0.9em;
	
	/*white-space:nowrap;*/
	/*background-color:#DCDCDC;*/
}
.menupanel:hover{width:200px;background-color:#DCDCDC;margin:1px;overflow:auto;}

.infopanel{
font-family:arial;
color:Gray;
//width:101%;
background-color:white;
margin-bottom:0px;
margin-top:-8px;
margin-left:44px;
border: solid 0px #D7D4D4;
height:50px;
top:0;
left:0px;
//position:fixed;
}
.iconka{
	vertical-align:middle;
	margin-right:2px;
	width:30px;
}
.userpanel{
margin-top:-30px;
margin-right:10px;

}
.logotext{
color: rgba(0,0,0,0.6);
text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
width:250px;
font-size:18px;
margin-left:10px;
//margin-top:5px;
font-family:Arial;
}
.tabskelet{
background-color:White;
float:right;
width:96.5%;
//margin:5px;
border:none;
top:0;
padding-bottom:50px;
}
.contenttab{
	
border:solid 1px #D7D4D4;
border-left:0;
vertical-align:top;
margin:0 auto;
}
.menutab{
vertical-align:top;
}
a{
text-decoration:none;
}
.tableall {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:13px;
	text-shadow: 1px 1px 0px #fff;
	//background:#eaebec;
	margin:5px auto;
	border:#ccc 1px solid;
	border-collapse:collapse;
 	z-index:3;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
 font-weight: bold;
	//-moz-box-shadow: 0 1px 2px #d1d1d1;
	//-webkit-box-shadow: 0 1px 2px #d1d1d1;
	//box-shadow: 0 1px 2px #d1d1d1;
}
 
.tableall th {
	font-weight:bold;
	padding:21px 25px 22px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;
 
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
.tableall th:first-child{
	text-align: left;
	padding-left:20px;
}
.tableall tr:first-child th:first-child{
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
.tableall tr:first-child th:last-child{
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
.tableall tr{
	text-align: center;
	padding-left:20px;
}
.tableall tr td:first-child{
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
.tableall tr td {
	padding:10px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
 
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
.tableall tr:nth-child(even) td{
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
.tableall tr:last-child td{
	border-bottom:0;
}
.tableall tr:last-child td:first-child{
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
.tableall tr:last-child td:last-child{
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
.tableall tr:hover td{
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}
 
.tableall a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
.tableall a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
.tableall a:active,
.tableall a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
.tableall tr.alfavit td{
position:absolute;
margin-left:-30px;
height:10px;
padding:0;
width:4px;
background-color:#999999;
font-size:2.5em;
border-bottom:none;
opacity:0.5;
}
.searchinput{
//float:right;
color:#AAA;
}
.zagolovok td{
border-bottom:solid 1px gray;
background-color:#C3D6F1;
}
.rowstab:hover{
background-color:#9CBFF1;
}
.fincbutt a{
font-size:15px;
padding-left:5px;
}
.sostavtable{
//box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
font-family:arial;
background-color:white;
width:98%;
border-collapse:collapse;
}
.razdelitel{
/*/height:120px;
//text-align:center;
//content-box:center;*/
/*position:fixed;*/
padding:10px;
			top:50px;
			left:60px;
			right:0;
//box-shadow: 0.4em 0.4em 3px rgba(122,122,122,0.5);
//box-shadow: 0 2px 3px rgba(0,0,0,0.5);
background-color:#DCDCDC;
font-family:Arial;
text-shadow: 0 2px 2px rgba(0, 0, 0, 0.075);
//margin-left:-10px;
//margin-right:-10px;
}
.razdelitel_anal{
text-align:center;
content-box:center;
vertical-align:center;
padding:10px;
background-color:#DCDCDC;
font-family:Arial;
position: auto;
}
.table_anal{
	border-left:1px solib black;
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}
.razdelitelsost{
height:150px;
//width:97%;
//height:120px;
text-align:center;
content-box:center;
vertical-align:center;
padding:10px;
//margin:5px;
//box-shadow: 0.4em 0.4em 3px rgba(122,122,122,0.5);
//box-shadow: 0 2px 3px rgba(0,0,0,0.5);
background-color:#DCDCDC;
font-family:Arial;
border-radius:4px 4px 0px 0px;
text-shadow: 0 2px 2px rgba(0, 0, 0, 0.075);
//margin-left:-10px;
//margin-right:-10px;
}
.prokrutka{
//height:250px;
//overflow-y: scroll;
}
.editprod{
//width:50%;
//box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
background-color:#F3EEEE;
font-family:arial;
padding:10px;
//margin:5px;
align-content:left;
color:#3E3D3D;
}
.editprod a:hover{
color:black;
border:solid 1px white;
}

	#wrap{
		display: none;
		opacity: 0.8;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 16px;
		background-color: rgba(1, 1, 1, 0.725);
		z-index: 100;
		overflow: auto;
	}
#wrap_v{
		display: none;
		opacity: 0.8;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 16px;
		background-color: rgba(1, 1, 1, 0.725);
		z-index: 100;
		overflow: auto;
	}
	#wraps{
		display: none;
		opacity: 1;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 16px;
		background-color: rgba(1, 1, 1, 0.725);
		z-index: 100;
		overflow: auto;
	}
	
	#window{
		width: 500px;
		min-height: 50px;
		margin: 50px auto;
		display: none;
		background: #fff;
		z-index: 200;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 16px;
border-radius:4px 4px 4px 4px;
font-family:arial;
background-color:#F3EEEE;
color:#3E3D3D;
	}
#window_v{
		width: 500px;
		min-height: 50px;
		margin: 50px auto;
		display: none;
		background: #fff;
		z-index: 200;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 16px;
border-radius:4px 4px 4px 4px;
font-family:arial;
background-color:#F3EEEE;
color:#3E3D3D;
overflow:auto;
	}
	.spisaniediv{
		width: 500px;
		height: 150px;
		margin: 50px auto;
		display: none;
		background: #fff;
		z-index: 200;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
border-radius:4px 4px 4px 4px;
font-family:arial;
background-color:#F3EEEE;
color:#3E3D3D;
	}

.addkat{
		width: 500px;
		height: 200px;
		margin: 50px auto;
		display: none;
		background: #fff;
		z-index: 200;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		border-radius:4px 4px 4px 4px;
		font-family:arial;
		background-color:#F3EEEE;
		color:#3E3D3D;
	}

#spisanieinput{
width:150px;
}
	
	.close{
		margin-left: 364px;
		margin-top: 4px;
		cursor: pointer;
	}
input {
	width: 300px;
	font-size: 13px;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
	background: #F6F6f6;
	border-radius: 8px;
}
select{
width: 300px;
font-size: 13px;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
	background: #F6F6f6;
	border-radius: 8px;
}
a.green{
float:left;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
color: #fff;
display:block;
width:150px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
padding: 8px 10px;
margin: 10px 8px;
text-decoration: none;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: background-color 0.1s linear;
-moz-transition: background-color 0.1s linear;
-o-transition: background-color 0.1s linear;
transition: background-color 0.1s linear;        
}
.add_button{
	display:inline-block;
	background-image: url(/images/plus.png);
	width: 34px;
	height: 34px;
	margin:2px;
	background-size: 100%;
}
.add_button:hover{
	/*-webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);*/
  animation: button_r 1s infinite ease-in-out;
}
.reload_button{
	display:inline-block;
	background-image: url(/images/refresh.png);
	width: 34px;
	height: 34px;
	margin:2px;
	background-size: 100%;
}
.reload_button:hover{
	animation: button_r 1s infinite ease-in-out;
}
@keyframes button_r{
	from{
	-webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  transform: rotate(1deg);
	}
	/*30% {
	-webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
	}
	60% {
	-webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  transform: rotate(150deg);
	}*/
	
	to{
	-webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
	}
}

a.green {
background-color: rgb( 43, 153, 91 );
border: 1px solid rgb( 33, 126, 74 );
}
        
a.green:hover {
background-color: rgb( 75, 183, 141 );
}
a.buttonmenu{
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
    border-radius: 4px;
    //border-style: solid;
    //border-width: 1px;
    //box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #6D6969;
        text-decoration:none;
    display:list-item;
font-family:arial;
    font-size: 12px;
        width:30px;
    line-height: 10px;
    margin: 5px;
    padding: 4px 4px;
    text-align: left;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
a.buttonmenu:hover {
  //-webkit-transform: translateY(-5px);
  //-ms-transform: translateY(-5px);
  //transform: translateY(-5px);
background-color:#DCDCDC;
}
a.buttonmenu:focus{
//background-color:rgb( 43, 153, 91 );
//color:white;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }

    .centerbg1 {
      display: none;
      width:100%;
      height:100%;
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 88888;
      background: url('/design/im/texture1.jpg') #3c363e;
	opacity: 0.9;
    }
     
    .centerbg2 {
      position: absolute;
      left: 50%;
      top: 50%;
    }
     
    #preloader {
      top: -50%;
      left: -50%;
      position: relative;
      width: 128px;
      height: 128px;
background: url('/images/loading.png');
      border: none;
      animation: button_r 1s infinite ease-in-out;
    }
.inputsklad{
display:none;
width:250px;
}
.inputsk{
width:50px;
}
#produkt{

}
.panelzag{
background-color:white;
text-align:left;
height:30px;
border-radius:5px 5px 0 0;
margin-top:-9px;
padding:5px;
margin-right:-10px;
//width:+5px;
margin-left:-10px;
border-bottom:solid 1px #999;
}
.vigruzka_button{
position:fixed;
width:100px;
height:100px;
background-color:aqua;
color:black;
font-family:arial;
text-decoration:none;
border-radius:100px;
opacity:0.3;
margin-left:-50%;
margin-top:40%;
//text-align:center;
padding: 20px 24px;
font-size:10px;
}
.panelgrafik{
font-family:arial;
padding:5px;
}
.panelgrafik a{
color:#3A74EF;
text-decoration-color:#3A74EF;
text-decoration-line:none;
}
.panelgrafik a:hover{
text-decoration-line:underline;
}
.obshak{
font-size:15px;
color:black;
}
.mesyatc{
float:left;
margin:5px;
background-color:#A7E2F1;
//border-radius:20px;
padding:20px;
width:300px;
height:250px;
}
.panelzaga{
background-color:white;
text-align:left;
height:30px;
//border-radius:20px 20px 0 0;
margin-top:-20px;
padding:5px;
//margin-right:-20px;
//width:+5px;
margin-left:-20px;
border:solid 1px #999;
width:328px;
text-align:center;
vertical-align:center;
}
.spannum{
width:150px;
height:150px;
}
#scrollup {
position: fixed; /* фиксированная позиция */
opacity: 0.8; /* прозрачность */
padding: 15px 10px 10px; /* отступы */
border-radius: 5px; /* скругление углов */
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
right: 30px; /* отступ слева */
//right:10px;
bottom: 5px; /* отступ снизу */
display: none; /* спрятать блок */
cursor: pointer;
width:50px;
height:50px;
z-index:999;
}
#addsklad {
position: fixed; /* фиксированная позиция */
opacity: 0.8; /* прозрачность */
padding: 15px 10px 10px; /* отступы */
border-radius: 5px; /* скругление углов */
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
right: 100px; /* отступ слева */
//right:10px;
bottom: 5px; /* отступ снизу */
/*display: none; /* спрятать блок */
cursor: pointer;
width:50px;
height:50px;
z-index:999;
}
#plussklad {
position: fixed; /* фиксированная позиция */
opacity: 0.8; /* прозрачность */
padding: 15px 10px 10px; /* отступы */
border-radius: 5px; /* скругление углов */
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
right: 160px; /* отступ слева */
//right:10px;
bottom: 5px; /* отступ снизу */
/*display: none; /* спрятать блок */
cursor: pointer;
width:50px;
height:50px;
z-index:999;
}
.rekvizitka{
float:left;
font-family: arial;
text-align:right;
	margin:15px;
vertical-align: center;
}
.dos_but{
	position:absolute;
	right:15%;
}
.cenadialog{
	display:none;
}
.tab_analitik{
	font-family: arial;
	font-size:20px; 
	padding: 10px;
	text-align: center;

}
.tab_analitik th{
	padding:15px;
	border-bottom: dashed;	
}
.tab_analitik td{
	border-bottom: dashed;
	border-right:dashed;	
	font-weight: bold;
	border-left: dashed;
	padding: 10px;
}

.tab_analitik a{

}
.produkt_bez_cena{
	display:none;
}
.otchetistr{
	padding:5px;
}
.otchetistr a{
	font-family: arial;
	font-size:20px;
	text-decoration:underline;
	text-decoration-style:dashed;   
}
.otchetistr a:HOVER {
	font-size:22px;
}